<ion-view title="Desenvolvedores">
	<ion-content>
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="img/logo-engcomp.png" alt="engcomp logo" />

        <p align="center">
          Versão 0.1
        </p>

        <p align="justify">
            Este é um aplicativo idealizado para alunos do curso de Engenharia de Computação do
            Instituto Federal de Educação, Ciência e Tecnologia do Ceará. A ideia por trás desse app
            é permitir que os alunos possam encontrar informações relativas ao curso de uma forma prática
            e simples. Além disso, esperamos que possamos ajudar as pessoas a se conectarem mais facilmente
            em um futuro próximo.
        </p>

        <p align="jusfify">
            Este aplicativo foi desenvolvido por Francisco José A. C. Souza e está disponível para
            download através do
            <a href="https://github.com/francisceioseph/ionic-engcomp-app" target="_blank">
              <strong>Github</strong>
            </a>.
            Comentários, sugestões, stars e pull requests são bem-vindos.
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        <i class="fa fa-sticky-note-o"></i>
        Notas da Versão 0.1
      </div>

      <div class="item item-body">
        <p align="justify">
          - Seção de Apresentação do Curso de Engenharia de Computação de acordo
          com informações extraídas do <a href="http://engcomputacao.ifce.edu.br/">site do curso</a>.
        </p>

        <p align="justify">
          - Ementas da grade antiga do curso de Engenharia de Computação.
        </p>

        <p align="justify">
          - Listagem do Corpo Docente do curso com links para o curriculum lattes de cada professor.
        </p>

        <p align="justify">
          - Página com links importantes para todo aluno do curso
        </p>

        <p align="justify">
          - Realizar ligação para o Departamento de Telemática. Envio de email para coordenador ou gerente
          de departamento.
        </p>

        <p align="justify">
          - Envio de email para professores, direito do telefone celular.
        </p>

        <p align="justify">
          - Seções informativas sobre o IFCE e este Aplicativo.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
