<ion-view title="Links Importantes">
	<ion-content>
    <div class="card list">
			<div class="item item-divider">
				<i class="fa fa-graduation-cap"></i>
				Utilidades
			</div>

      <a class="item item-icon-left dark" href="https://qacademico.ifce.edu.br/">
				<i class="icon fa fa-check-square-o"></i>
				Q-Acadêmico
			</a>

			<a class="item item-icon-left dark" href="http://biblioteca.ifce.edu.br/">
				<i class="icon fa fa-book"></i>
				Sistema Sophia
			</a>

			<a class="item item-icon-left dark" href="http://bvu.ifce.edu.br/login.php">
				<i class="icon fa fa-bookmark-o"></i>
				Biblioteca Virtual
			</a>

			<a class="item item-icon-left dark dark" href="http://engcomputacao.ifce.edu.br/?page_id=483">
				<i class="icon fa fa-comment-o"></i>
				Sugestão de Livros
			</a>

		 <div class="item item-divider">
		 	<i class="fa fa-external-link"></i>
			Outros
		 </div>

		 <a class="item item-icon-left dark" href="http://engcomputacao.ifce.edu.br/?page_id=483">
			 <i class="icon fa fa-file-text-o"></i>
			 Plataforma Lattes
		 </a>

		 <a class="item item-icon-left dark" href="http://www.cienciasemfronteiras.gov.br/">
			 <i class="icon fa fa-globe"></i>
			 Ciências Sem Fronteiras
		 </a>

		 <a class="item item-icon-left dark" href="http://engcomputacao.ifce.edu.br/?page_id=483">
			 <i class="icon fa fa-pencil"></i>
			 Portal MEC
		 </a>
    </div>
  </ion-content>
</ion-view>
