<ion-view title="Telemática">
	<ion-content>
    <ion-list>
			<div class="list card">
				<a href="tel:+55-85-3307-3607" class="item item-icon-left assertive">
					<i class="icon fa fa-phone"></i>
					Ligar para o Departamento
				</a>
			</div>

      <div class="list card">
        <div class="item item-avatar">
					<img src="img/edson.png" alt="engcomp avatar" />
          <h2>Edson da Silva Almeida</h2>
          <p>Gerente de Departamento</p>
        </div>

				<a class="item button button-full button-clear button-positive" ng-href="mailto:edsondasilva.almeida@gmail.com">
					<i class="fa fa-envelope-o"></i>
					<strong> Enviar email </strong>
				</a>

      </div>

      <div class="list card">
        <div class="item item-avatar">
					<img src="img/parente.png" alt="Imagem do Coordenador" />
          <h2>Fernando Parente Garcia</h2>
          <p>Coordenador Eng. Computação</p>
        </div>

				<a class="item button button-full button-clear button-positive" ng-href="mailto:fernandoparenteg@gmail.com">
					<i class="fa fa-envelope-o"></i>
					<strong> Enviar email </strong>
				</a>

			</div>
    </ion-list>
  </ion-content>
</ion-view>
