<ion-view title="Corpo Docente">
	<ion-content>
		<ion-list>
			<card-teacher class="animated fadeInDown" ng-repeat="teacher in teachers" teacher="teacher"></card-teacher>
			<!-- <div class="list card animated fadeInDown" ng-repeat="teacher in teachers">
				<div class="item item-avatar">
					<img ng-src="{{teacher.photoUrl}}" alt="Teacher Photo" />
					<h2>{{teacher.name}}</h2>
					<p>{{teacher.titulacao}}</p>

					<p>
						<button class="button button-medium button-clear button-positive" ng-click="onSeeMoreClick(teacher.cvUrl)">
								<i class="fa fa-files-o"></i>
								Ver Curriculum Lattes
						</button>
					</p>

				</div>
			</div> -->
		</ion-list>
  </ion-content>
</ion-view>
