<ion-view title="O IFCE">
	<ion-content>
    <div class="card">
      <div class="item item-body">

       <div class="video-container">
           <iframe src="https://www.youtube.com/embed/LyZ_8VqtuFQ" width="100%" frameborder="0" allowfullscreen></iframe>
       </div>

        <p align="justify">
          O Instituto Federal de Educação, Ciência e Tecnologia do Ceará (IFCE),
          cuja reitoria é sediada em Fortaleza, instituição criada nos termos da
          Lei. N º 11.892, de 29 de dezembro de 2008, mediante a integração do Centro
          Federal de Educação Tecnológica do Ceará com as Escolas Agrotécnicas Federais
          de Crato e de Iguatu, vinculado ao Ministério da Educação, é uma autarquia
          de natureza jurídica, detentora de autonomia administrativa, patrimonial,
          financeira, didático-pedagógica e disciplinar. Para efeito da incidência das
          disposições que regem a regulação, avaliação e supervisão da instituição e dos cursos
          de educação superior, o IFCE é equiparado às universidades federais.
        </p>
      </div>

      <a href="tel:+55-85-3307-3681" class="item item-icon-left assertive">
        <i class="icon fa fa-phone"></i>
        Ligar para o Recepção do IFCE
      </a>

      <a href="http://ifce.edu.br" class="item item-icon-left positive">
        <i class="icon fa fa-globe"></i>
        Visitar Site do IFCE
      </a>
    </div>

  </ion-content>
</ion-view>
