<ion-view title="Apresentação">
	<ion-content>
    <div class="card">
      <div class="item item-body">
        <img class="full-image" src="img/logo-engcomp.png" alt="engcomp logo" />

				<p align="justify">
          O curso de Engenharia de Computação do IFCE, campus Fortaleza foi criado
          no dia 27 de setembro de 2006 e procura formar profissionais capazes de criar as
          mais diversas soluções em hardware e software que requerem conhecimentos das seguintes
          áreas: Eletrônica, Computação, Telecomunicações e Automação.
          Procuramos formar alunos com perfil proativo e empreendedor,
          capazes de combinar os conhecimentos dessas áreas e inovar no campo da tecnologia,
          contribuindo, assim, com o progresso técnico e científico da humanidade.
        </p>

        <p align="justify">
          Para dar o devido suporte e proporcionar aos alunos de Engenharia de Computação uma formação excelente,
          estes contam com quatro laboratórios de micro-computação, dois laboratórios de redes, laboratório de
          eletrônica, microcontroladores e sistemas embarcados. Nestas laboratórios, são ministradas as mais
          diversas disciplinas do curso, onde o aluno aprende como unir a teoria aprendida à pratica necessária para
          o pleno desenvolvimento de suas capacidades técnicas.
        </p>

        <p align="justify">
          Além da possibilidade de ser rapidamente inserido no mercado de trabalho, dada a crescente demanda do
          setor de tenologia da informação no nosso estado, a aluno de Engenharia de Computação pode contar com atividades de
          iniciação científica através do diversos laboratórios de pesquisa existentes dentro do IFCE. Deste modo, o aluno tem a
          possibilidade de expandir ainda mais os conhecimento adquiridos na sala de aula, assim como outros que ele não teria ao
          seu dispor no decorrer do curso, contribuindo ainda mais para a formação de um profissional plenamente competente
          e capaz de transformar a sociedade em que vive. Ainda existem atividades de iniciação à
          docência através do programa institucional de bolsas de monitoria assistida do IFCE campus Fortaleza.
        </p>

        <p align="justify">
          Atualmente, o curso de Engenharia de Computação encontra-se filiado ao Departamento de Telemática,
          cujo chefe de departamento é o Professor Edson da Silva Almeida, sendo o coordenador responsável pelo curso o
          professor Fernando Parente Garcia.
        </p>

      </div>
    </div>
  </ion-content>
</ion-view>
