<ion-view title="Ementas">
	<ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <p align="justify">
					O curso de Engenharia de Computação é organizado em torno de dez semestres,
          cujas aulas são ministradas predominantemente no turno vespertino. No início do
          curso, o aluno entra em contato com as disciplinas mais básicas do curso, avançando em ritmo
          progressivo rumo àquelas de conteúdo mais específico da computação. Assim,  o aluno pode
          solidificar bem os conhecimentos adquiridos e estabelecer conexões entre estes e experiências passadas,
          tornando-se assim um profissional mais qualificado.
        </p>

        <p align="justify">
          A seguir, ofertamos um resumo de cada um dos semestres e os links para o download
          dos Programas de Unidade Didática, que regem o que deve ser ministrado nas salas de aula.
        </p>
      </div>
    </div>

		<ion-list>
		  <div class="list card" ng-repeat="brief in briefs">
				<div class="item item-divider">
					{{brief.title}}
				</div>

				<div class="item item-text-wrap">
					<p>
						{{brief.text}}
					</p>

					<p>
						<button class="button button-clear button-balanced subdued" ng-click="onSeeMoreClick(brief.link)">
							<span class="fa fa-download"></span>
							Baixar Ementa...
						</button>
					</p>
				</div>
		  </div>
		  </ion-item>
		</ion-list>
    <ion-list>

      <ion-item ng-repeat="item in items">

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
