<ion-view title="Telemática">
	<ion-content>
    <ion-list>
			<div class="list card">
				<a href="tel:+55-85-3307-3607" class="item item-icon-left assertive">
					<i class="icon fa fa-phone"></i>
					Ligar para o Departamento
				</a>
			</div>

      <div class="list card">
        <div class="item avatar">
          <h2>Edson da Silva Almeida</h2>
          <p>Gerente de Departamento</p>
        </div>

        <div class="item item-image">
          <img src="img/edson.png" alt="Imagem do Gerente" />
        </div>

				<button class="item button-full positive" ng-click="openMail('edsondasilva.almeida@gmail.com')">
					<strong> Enviar email </strong>
				</button>

      </div>

      <div class="list card">
        <div class="item avatar">
          <h2>Fernando Parente Garcia</h2>
          <p>Coordenador Engenharia de Computação</p>
        </div>

        <div class="item item-image">
          <img src="img/parente.png" alt="Imagem do Coordenador" />
        </div>

				<button class="item button-full positive" ng-click="openMail('fernandoparenteg@gmail.com')">
					<strong> Enviar email </strong>
				</button>

			</div>
    </ion-list>
  </ion-content>
</ion-view>
