<ion-view title="Telefones">
	<ion-content>
    <ion-list>
      <div class="list card">
        <div class="item avatar">
          <h2>Edson da Silva Almeida</h2>
          <p>Gerente de Departamento</p>
        </div>

        <div class="item item-image">
          <img src="img/edson.png" alt="Imagem do Gerente" />
        </div>

        <div class="row">
          <div class="col col-50">
            <a href="mailto:edsondasilva.almeida@gmail.com" class="item item-icon-left positive">
              <i class="icon fa fa-envelope-o"></i>
              Enviar Email
            </a>
          </div>

          <div class="col col-50">
            <a href="tel:+55-85-3307-3607" class="item item-icon-left assertive">
              <i class="icon fa fa-phone"></i>
              Fazer Ligação
            </a>
          </div>
        </div>
      </div>

      <div class="list card">
        <div class="item avatar">
          <h2>Fernando Parente Garcia</h2>
          <p>Coordenador Engenharia de Computação</p>
        </div>

        <div class="item item-image">
          <img src="img/parente.png" alt="Imagem do Coordenador" />
        </div>

        <div class="row">
          <div class="col col-50">
            <a href="mailto:fernandoparenteg@gmail.com" class="item item-icon-left positive">
              <i class="icon fa fa-envelope-o"></i>
              Enviar Email
            </a>
          </div>

          <div class="col col-50">
            <a href="tel:+55-85-3307-3607" class="item item-icon-left assertive">
              <i class="icon fa fa-phone"></i>
              Fazer Ligação
            </a>
          </div>
        </div>

    </ion-list>
  </ion-content>
</ion-view>
